.vs/
.vscode/
.fake/
.idea/
_ReSharper.Caches/

*.user

[Pp]ackages/
[Pp]aket-files/
##[Dd]ebug/
[Rr]elease/
[Bb]build/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/
**/TestResults
[Ii]ntegrationTests
.idea/.idea.vip.web/.idea/workspace.xml

postgres-data/